@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;700&family=Montserrat:ital,wght@0,400;1,500&display=swap');
/* global styling */
* {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
    
}
body {
    background-color: #FC948D;
}
h1 {
    font-family: "Baloo 2", sans-serif;
    font-size: 8rem;
    text-align: center;
    color: white;
}

p {
    font-family: "Montserrat", sans-serif;
    font-size: 2rem;
    color: white;
    text-align: center;
    padding-bottom: 50px;
}

/* styling modal on game start */
#modal {
    position: fixed;
    z-index: 1;
    background-color: rgba(9, 146, 246, 0.7);
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

#modal-content {
    position: fixed;
    z-index: 2;
    background-color: rgba(9, 146, 246, 1);
    height: auto;
    width: 60%;
    border-radius: 4%;
    margin: auto;
    text-align: center;
    padding-top: 40px;
}

#modal h1 {
    font-size: 3rem;
    padding: 0px;
}

#modal p {
    padding: 20px;
}

#modal input {
    height: 30px;
    text-align: center;
    border-radius: 5px;
    
}

#modal button {
    margin: 0;
    width: 50%;
    margin-top: 30px;
}

/* style user-info form on modal */
#userinfo {
    font-family: "Montserrat", sans-serif;
    color: white;
    font-size: 2rem;
    text-align: center;
}

/* styling game area */
#flip-card-game {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    
}

.game-area {
    display: flex;
    flex-wrap: wrap;
    width: 700px;
    justify-content: center;
}

/* game info - time and moves */
.game-info {
    font-family: "Montserrat", sans-serif;
    text-align: center;
    font-size: 1.9rem;
    color: white;
}

/* styling flip cards */
.card {
    position: relative;
    margin: 5px;
    width: 150px;
    background-color: transparent;
    perspective: 1000px;
    transition: transform 0.7s;
    transform-style: preserve-3d;
}

.flip {
    transform: rotateY(180deg);
}

.front {
    transform: rotateY(180deg);
}

.front, .back {
    width: 100%;
    border-radius: 20px;
    backface-visibility: hidden;
    /* reduce z-index to resolve flip card bug */
    z-index: -1;
}

.back {
    position: absolute;
}
/* buttons */
button {
    width: 20%;
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    background-color: #e26b09;
    border-radius: 50px;
    height: 40px;
    text-align: center;
    margin: 20px;
    color: white;
}

.reset-button{
    display: flex;
    justify-content: center;
    margin: auto;
}

#reset-game {
    width: 250px;
}