@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;700&family=Montserrat:ital,wght@0,400;1,500&display=swap');
/* global styling */
* {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
    background-color: #FC948D;
}

h1 {
    font-family: "Baloo 2", sans-serif;
    font-size: 8rem;
    text-align: center;
    color: white;
}

p {
    font-family: "Montserrat", sans-serif;
    font-size: 2rem;
    color: white;
    text-align: center;
    padding-bottom: 50px;
}
/* styling game area */
.game-area {
    display: flex;
    flex-wrap: wrap;
    width: 700px;
    justify-content: center;
    margin: auto;
}
/* styling flip cards */
.card {
    position: relative;
    margin: 5px;
    width: 150px;
    background-color: transparent;
    perspective: 1000px;
    transition: transform 0.7s;
    transform-style: preserve-3d;
}

.card:active {
    transform: rotateY(180deg);
}

.front {
    transform: rotateY(180deg);
}

.front, .back {
    width: 100%;
    border-radius: 20px;
    backface-visibility: hidden;
    
}

.back {
    position: absolute;
}
/* buttons */
button {
    width: 20%;
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    background-color: #e26b09;
    border-radius: 50px;
    height: 40px;
    text-align: center;
    margin: 20px;
    color: white;
}

.buttons {
    display: flex;
    justify-content: center;
    margin: auto;
}
/* game info - time and moves */
.game-info {
    font-family: "Montserrat", sans-serif;
    text-align: center;
    font-size: 20px;
}